* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #DEB887;
	font-size: 20px;
}

h1{
	margin: 20px;
	text-align: center;
	font-size: 175%;
}

h1:hover{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

h2{
	position: relative;
	text-align: right;
	width: 200px;
  	height: 50px;
  	border: 1px solid black;
  	font-size: 125%;
}

h2:hover{
	text-decoration: underline;
	cursor: pointer;
}

#t1{
	padding-right: 15px;
	padding-top: 10px;
	background-color: red;
	float: right;
	border-width: 1px;
	height: 50px;
	border-right-width: 0;
	border-top-width: 0;
}

#t2{
	padding-right: 30px;
	padding-top: 10px;
	background-color: violet;
	float: right;
	border-width: 1px;
	height: 50px;
	border-right-width: 0;
	border-top-width: 0;
}

#t3{
	padding-right: 20px;
	padding-top: 10px;
	background-color: green;
	float: right;
	border-width: 1px;
	height: 50px;
	border-right-width: 0;
	border-top-width: 0;
}

p {
	text-align: center;
    width: 95%;
  	background-color: gray;
  	clear: both;
}

p:hover{
	cursor: pointer;
	font-style: italic;
	font-size: 1.05em;
	color: white;
}


.box {
 	background-color: gray;
	padding: 10px;
  	padding-top: 0;
  	padding-right: 0;
  	border: 2px solid black;
 	margin: 40px;
 }

/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/******** For Large devices ********/
@media (min-width: 1200px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

/******** For Medium devices ********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-6 {
    	float: left;
    	width: 50%;
	}
	.col-md-12 {
    	float: left;
    	width: 100%;
	}
}

/******** For Small devices ********/
/*
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
    //border: 1px solid green;
    width: 100%;
	}
}/